{% extends "base.html" %}

{% block content %}

<div id="tutor-box" style="margin-bottom: 25% ;">
    <div id="choose_interface" style="text-align: center; margin-top: 1%">
        <div>
            {% if interface_type == "adaptive" %}
            <a class="btn btn-primary" id="adaptive-button" href="/{{ tutor_type }}">Adaptive Problem Selection</a>
            {% else %}
            <a class="btn btn-outline-primary" id="adaptive-button" href="/{{ tutor_type }}">Adaptive Problem Selection</a>
            {% endif %}
            {% if interface_type == "logarithmic_equations_solve_algebraically" %}
            <a class="btn btn-primary" href="/{{ tutor_type }}?interface=adaptive_scaffolded_logarithmic_equations_solve_algebraically">Solve Algebraically</a>
            {% else %}
            <a class="btn btn-outline-primary" href="/{{ tutor_type }}?interface=adaptive_scaffolded_logarithmic_equations_solve_algebraically">Algebraic</a>
            {% endif %}
            {% if interface_type == "logarithmic_equations_solve_algebraically_before_after" %}
            <a class="btn btn-primary" href="/{{ tutor_type }}?interface=adaptive_scaffolded_logarithmic_equations_solve_algebraically_before_after">Solve Algebraically Before and After</a>
            {% else %}
            <a class="btn btn-outline-primary" href="/{{ tutor_type }}?interface=adaptive_scaffolded_logarithmic_equations_solve_algebraically_before_after">Algebraically Before and After</a>
            {% endif %}
            {% if interface_type == "logarithmic_equations_solve_using_one_to_one_property" %}
            <a class="btn btn-primary" href="/{{ tutor_type }}?interface=adaptive_scaffolded_logarithmic_equations_solve_using_one_to_one_property">Solve Using One to One Property</a>
            {% else %}
            <a class="btn btn-outline-primary" href="/{{ tutor_type }}?interface=adaptive_scaffolded_logarithmic_equations_solve_using_one_to_one_property">One to One Property</a>
            {% endif %}

        </div>
    </div>
    <div class="mb-0" style="display: flex; justify-content: center; margin-top: 1%">
        <row>
            <button class="btn btn-danger", target="_blank", id="get_video">supplementary video</button>
            <button class="btn btn-warning", target="_blank", id="get_read">textbook resource</button>
        </row>
    </div>
    <div id="progress" style="display: flex; justify-content: center; align-items: center;">
        <div style="margin-top: 0.5%; width: 650px;">
            <div><strong>My Progress</strong></div>
            <div class="progress mb-3" style="height: 10px; margin-top: 1%;">
                <div id="tutor_progress" class="progress-bar bg-danger" role="progressbar" style="height: 10px; width: {{ 0 }}%" aria-valuenow="{{ 0 }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div id="tutor">
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="margin: 1%; width: 650px;">
            <div id="hint-box">
                <div class="mb-3" style="display: block; justify-content: center; align-items: center;">
                    <row>
                        <div id="hint-area" class="textarea-like"></div>
                    </row>
                    <row style="display: flex; justify-content: right; margin-top: 3%;">
                        <button disabled id="copy_hint" type="button" class="btn btn-outline-danger" style="margin-right: 2%;">Copy Answer</button>
                        <button disabled id="previous_hint" type="button" class="btn btn-outline-primary" style="margin-right: 2%;">Previous Hint</button>
                        <button disabled id="next_hint" type="button" class="btn btn-outline-primary" style="margin-right: 2%;">Next Hint</button>
                        <button id="get_hint" type="button" class="btn btn-warning" style="margin-right: 2%;">Ask for Hint!</button>
                        <button id="done" type="submit" class="btn btn-primary">Done!</button>
                    </row>
                    <row>
                        <div id="copy_message" class="hidden">Answer has been successfully copied!</div>
                        <div id="ask_scaffold" style="align-items: center; gap: 10px; display:none;">
                            <p class="mb-0" style="flex-shrink: 0;">Would you like more steps?</p>
                            <span type="button" id="scaffold_yes" class="btn btn-success">Yes</span>
                            <span type="button" id="scaffold_no" class="btn btn-danger">No</span>
                        </div>
                    </row>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block footer %}
<script>
    var interface;
    var start_state;
    var hint_counter = 0
    var scaffold_counter = 1;
    var correct_status = true;
    var hint;
    var attempted;
    
    function get_state(){
            state = {};

            $('input').each(function(){
                    let id = $(this).attr('id');
                    if (typeof id !== 'undefined'){
                            state[id] = $(this).data();
                            if ($(this).prop('disabled') == true){
                                    state[id]["value"] = $(this).val();
                                }
                            else{
                                    state[id]["value"] = "";
                                }
                            state[id]['disabled'] = $(this).prop('disabled');
                        }
            });

            $('math-field').each(function(){
                    let id = $(this).attr('id');
                    console.log("^^^^^^^^^^^")
                    console.log(id)
                    console.log("^^^^^^^^^^^")
                    if (typeof id !== 'undefined'){
                            state[id] = $(this).data();
                            if ($(this).prop('disabled') == true){
                                    state[id]["value"] = $(this).val();
                                }
                            else{
                                    state[id]["value"] = "";
                                }
                            state[id]['disabled'] = $(this).prop('disabled');
                        }
            });
            
            console.log(state)

            return state;
        }

    function update_hint(){
            if (hint){
                    var hint_text = hint["hints"][hint_counter];
                    hint_text = hint_text.replace(/\\left\s*\{/g, "\\left(").replace(/\\right\s*\}/g, "\\right)");
                    $('#hint-area').html(hint_text);
                    MathJax.typeset([$('#hint-area').get(0)]); 

                    if(hint_counter > 0){
                            $("#previous_hint").prop('disabled', false);
                        }
                    else{
                            $("#previous_hint").prop('disabled', true);
                        }

                    if(hint_counter < hint['hints'].length - 1){
                            $("#next_hint").prop('disabled', false);
                        }
                    else{
                            $("#next_hint").prop('disabled', true);
                        }
                    if(hint_counter == hint['hints'].length - 1){
                            $("#copy_hint").prop('disabled', false);
                    }
                    else{
                            $("#copy_hint").prop('disabled', true);
                    }
                }
            else{
                    $('#hint-area').val("");
                    $("#copy_hint").prop('disabled', true);
                    $("#previous_hint").prop('disabled', true);
                    $("#next_hint").prop('disabled', true);
                }
        }
    
    function copy_hint(){
            const $textarea = $('<textarea></textarea>');
            const str = hint["hints"][hint_counter];
            const backslashIndex = str.indexOf("\\\(");;
            const closingParenthesisIndex = str.indexOf("\\\)");
            var substringBetween = str.substring(backslashIndex, closingParenthesisIndex+2);
            $textarea.val(substringBetween);
            $('body').append($textarea);
            $textarea.select();
            document.execCommand('copy');
            $textarea.remove();
    } 

    function check_correctness(input_ele){
            if ($(input_ele.target).prop('disabled') == true){
                return;
            }

            $('math-field').removeClass("hint_field");
            $('math-field').removeClass("incorrect_field");
            $('input').removeClass("hint_field");
            $('input').removeClass("incorrect_field")
            $('button').removeClass("incorrect_field")
            $('button').removeClass("hint_field");
            hint = null;
            hint_counter = 0;
            update_hint();

            if (($(input_ele.target).attr('type') != 'checkbox' &&$(input_ele.target).val() == "") ||
                    ($(input_ele.target).attr('type') == 'checkbox' &&
                            !$(input_ele.target).is(':checked'))
                ){
                    $(input_ele.target).removeClass("incorrect_field")
                    return
                }

            let value = $(input_ele.target).val();
            if ($(input_ele.target).attr('type') == 'checkbox' &&
                    $(input_ele.target).is(':checked')){
                    value = "checked";
                }

            $.ajax({
                    type: "POST",
                    url: "/check_correctness",
                    data: JSON.stringify({
                            "user": "user1",
                            "tutor": "{{tutor_type}}",
                            "interface": interface.replace("adaptive_scaffolded_", ""),
                            "start_state": start_state,
                            "state": get_state(),
                            "selection": $(input_ele.target).attr('id'),
                            "action": "input change",
                            "input": value,
                            "first_attempt": (attempted[$(input_ele.target).attr('id')] === undefined)
                        }),
                    success: function(correctness){
                            attempted[$(input_ele.target).attr('id')] = true

                            if(correctness["correct"]){
                                    $('#ask_scaffold').css("display", "none");
                                    $(input_ele.target).removeClass("incorrect_field").addClass("correct_field")
                                    $(input_ele.target).prop('disabled', true);
                                    $("#get_video").removeClass("btn-warning-highlight") 
                                    $("#get_read").removeClass("btn-warning-highlight") 
                                    $("#get_hint").removeClass("btn-warning-highlight") 
                                    correct_status = true
                                }
                            else{
                                    if (correct_status == true) {
                                        $('#ask_scaffold').css("display", "flex");
                                    }
                                    $("#get_video").addClass("btn-warning-highlight") 
                                    $("#get_read").addClass("btn-warning-highlight") 
                                    $("#get_hint").addClass("btn-warning-highlight") 
                                    $(input_ele.target).removeClass("correct_field").addClass("incorrect_field")
                                    correct_status=false
                                }
                        },
                    dataType: "json",
                    contentType: "application/json"
                });

        }

    function get_next_problem(){
            $.ajax({
                    type: "POST",
                    url: "/next_problem",
                    data: JSON.stringify({
                            "user":"user1",
                            "tutor":"{{tutor_type}}",
                            "interface": "{{interface_type}}"
                        }),
                    success: function(problem){
                            attempted = {};
                            $.ajax({
                                    type: "GET",
                                    url: "/tutors/" + problem["interface"],
                                    success: function(tutor_html){
                                            hint = null;
                                            update_hint();
                                            $('button').removeClass("hint_field");
                                            $('button').removeClass("incorrect_field");

                                            $("#tutor").html(tutor_html).promise().done(function(){
                                                    window.scrollTo(0, 0);
                                                    MathJax.typeset();
                                                    
                                                    interface = problem['interface'].split(".html")[0]
                                                    start_state = problem["start_state"]
                                                    
                                                    for(var ele in problem["start_state"]){
                                                            $("#"+ele).val(problem["start_state"][ele])
                                                        }
                                                    var performance = problem["kc_progress"];
                                                    if (performance < 0.5) {
                                                        $('#tutor_progress').removeClass('bg-danger').addClass('bg-danger');
                                                    } else if (performance < 0.75) {
                                                        $('#tutor_progress').removeClass('bg-danger').addClass('bg-warning');
                                                    } else if (performance < 0.95) {
                                                        $('#tutor_progress').removeClass('bg-danger').addClass('bg-primary');
                                                    } else {
                                                        $('#tutor_progress').removeClass('bg-danger').addClass('bg-success');
                                                    }
                                                    $('#tutor_progress').attr('aria-valuenow', performance * 100);
                                                    $('#tutor_progress').css('width', performance * 100 + '%');
                                                    $("#done").off('click');
                                                    $("#done").click(function(input_ele){
                                                            $.ajax({
                                                                    type: "POST",
                                                                    url: "/check_correctness",
                                                                    data: JSON.stringify({
                                                                            "user": "user1",
                                                                            "tutor": "{{tutor_type}}",
                                                                            "interface": interface.replace("adaptive_scaffolded_", ""),
                                                                            "start_state": start_state,
                                                                            "state": get_state(),
                                                                            "selection": $(input_ele.target).attr('id'),
                                                                            "action": "button click",
                                                                            "input": "x",
                                                                            "first_attempt": (attempted[$(input_ele.target).attr('id')] === undefined)
                                                                        }),
                                                                    success: function(correctness){
                                                                            attempted[$(input_ele.target).attr('id')] = true
                                                                            $("#hint-area").html("");
                                                                            if(correctness["correct"]){
                                                                                    get_next_problem();
                                                                                    $("#get_video").removeClass("btn-warning-highlight")
                                                                                    $("#get_read").removeClass("btn-warning-highlight") 
                                                                                    $("#get_hint").removeClass("btn-warning-highlight") 
                                                                                }
                                                                            else{
                                                                                    $("#get_video").addClass("btn-warning-highlight") 
                                                                                    $("#get_read").addClass("btn-warning-highlight") 
                                                                                    $("#get_hint").addClass("btn-warning-highlight") 
                                                                                    $(input_ele.target).addClass("incorrect_field")
                                                                                }
                                                                        },
                                                                    dataType: "json",
                                                                    contentType: "application/json"
                                                                });
                                                        });

                                                    $("input").change(check_correctness);
                                                    $("math-field").change(check_correctness);

                                                });
                                        },
                                });

                        },
                    dataType: "json",
                    contentType: "application/json"
                });

        }

        function tutorial() {
            const tour = new Shepherd.Tour({
                useModalOverlay: true,
                defaultStepOptions: {
                    scrollTo: false,
                    cancelIcon: {
                                enabled: true
                            },
                    }
            });

            const createButton = (text, action) => ({
                text,
                action: () => action.call(tour),
                classes: text === 'Previous' ? 'shepherd-button-secondary' : ''
            });

            const createStep = (title, text, element, position, id) => {
                let buttons = [];

                if (element !== '#tutor') {
                    buttons.push(createButton('Previous', tour.back));
                }

                const secondButtonText = element === '#done' ? 'Finish!' : 'Continue';
                buttons.push(createButton(secondButtonText, tour.next));

                return {
                    title,
                    text,
                    attachTo: {
                        element,
                        on: position
                    },
                    buttons,
                    id
                };
            };

            const steps = [
                createStep('Logarithmic Equations Tutor', 'This is our logarithmic equations tutor!', '#tutor', 'top', 'tutor-step'),
                createStep('Problem Types', 'You have several topics to choose from to master!', '#choose_interface', 'top', 'choose-interface-step'),
                createStep('Adaptive Problem Selection', 'Based on your identified weakenesses, the Adapative section would recommend you problem types.', '#adaptive-button', 'bottom', 'adaptive-button-step'),
                createStep('Progress Bar', 'Track your progress for the problem type here.', '#progress', 'bottom', 'progress-step'),
                createStep('Study Material (Video)', 'We recommend looking at the provided videos to help you master the topic.', '#get_video', 'bottom', 'video-step'),
                createStep('Study Material (Reading)', 'You can also checkout the readings.', '#get_read', 'bottom', 'read-step'),
                createStep('Hints', 'If you get struck with a problem feel free to seek help from the hints. They\'re displayed in the text area right above.', '#get_hint', 'bottom', 'hint-step'),
                createStep('Copy Answer', 'For each field, the last hint is the answer. You can copy it using this button.', '#copy_hint', 'bottom', 'answer-step'),
                createStep('Done', 'Once you\'ve solved the problem click done to move on to the next problem.', '#done', 'bottom', 'done-step')
            ];

            // Add steps to the tour
            steps.forEach(step => tour.addStep(step));

            // Start the Tour
            tour.start();
        }

        function scaffold(){
            $('math-field').removeClass("incorrect_field");
            var currdiv = "level_" + scaffold_counter;
            $("#"+currdiv).css("display", "block");
            $('#'+currdiv).find('math-field').prop('disabled', false);
            scaffold_counter += 1;
            }

        document.addEventListener('click', function(event) {
            if (event.target.id === 'scaffold') {
            // Your onclick code here
                console.log('Scaffold clicked');
                scaffold();}
        });

    $().ready(function(){
            // $("#tutorial").click(tutorial);

            $('#scaffold_yes').click(function() {
                $('#ask_scaffold').css("display", "none");
                $('#scaffold').css("display", "inline");
            });

            $('#scaffold_no').click(function() {
                $('#ask_scaffold').css("display", "none");
            });
            $("#scaffold").css("display", "block");

            $("#tutorial").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                            type: "POST",
                            url: "/get_tutorial",
                            data: JSON.stringify({
                                    "user":"user1",
                                    "tutor":"{{tutor_type}}",
                                    "interface": interface.replace("adaptive_scaffolded_", ""),
                                    "start_state": start_state,
                                    "state": get_state(),
                                    "attempted": attempted,
                                    "mode": "READ"
                                }),
                            success: function(result) {
                                    tutorial();
                                },
                            error: function(result) {
                                    console.log(result);
                                },
                            dataType: "json",
                            contentType: "application/json"
                        });
                });
            get_next_problem();
            $("#get_hint").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                            type: "POST",
                            url: "/get_hint",
                            data: JSON.stringify({
                                    "user":"user1",
                                    "tutor":"{{tutor_type}}",
                                    "interface": interface.replace("adaptive_scaffolded_", ""),
                                    "start_state": start_state,
                                    "state": get_state(),
                                    "attempted": attempted
                                }),
                            success: function(result) {
                                    hint = result;
                                    hint_counter = 0;
                                    $('input').removeClass("hint_field");
                                    $('button').removeClass("hint_field");
                                    console.log("#" + hint['selection'])
                                    $("#" + hint['selection']).addClass("hint_field");
                                    console.log(hint)
                                    attempted[hint['selection']] = true;

                                    $("#get_hint").removeClass("btn-warning-highlight") // Momin add line
                                    $("#get_read").removeClass("btn-warning-highlight") // Momin add line
                                    $("#get_video").removeClass("btn-warning-highlight") // Momin add line
                                    
                                    update_hint();
                                },
                            error: function(result) {
                                    console.log(result);
                                },
                            dataType: "json",
                            contentType: "application/json"
                        });
                });

            $("#get_video").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                            type: "POST",
                            url: "/get_video",
                            data: JSON.stringify({
                                    "user":"user1",
                                    "tutor":"{{tutor_type}}",
                                    "interface": interface.replace("adaptive_scaffolded_", ""),
                                    "start_state": start_state,
                                    "state": get_state(),
                                    "attempted": attempted,
                                    "mode": "READ"
                                }),
                            success: function(result) {
                                    $("#get_hint").removeClass("btn-warning-highlight") // Momin add line   
                                    $("#get_read").removeClass("btn-warning-highlight") // Momin add line
                                    $("#get_video").removeClass("btn-warning-highlight") // Momin add line
                                    window.open(result["study_material"]["video"], '_blank');
                                },
                            error: function(result) {
                                    console.log(result);
                                },
                            dataType: "json",
                            contentType: "application/json"
                        });
                });

            $("#get_read").click(function(e) {
                    e.preventDefault();
                    $.ajax({
                            type: "POST",
                            url: "/get_read",
                            data: JSON.stringify({
                                    "user":"user1",
                                    "tutor":"{{tutor_type}}",
                                    "interface": interface.replace("adaptive_scaffolded_", ""),
                                    "start_state": start_state,
                                    "state": get_state(),
                                    "attempted": attempted,
                                    "mode": "VIDEO"
                                }),
                            success: function(result) {
                                    $("#get_hint").removeClass("btn-warning-highlight") // Momin add line
                                    $("#get_read").removeClass("btn-warning-highlight") // Momin add line
                                    $("#get_video").removeClass("btn-warning-highlight") // Momin add line

                                    // Handle Text Fragment in Browser
                                    const anchor = document.createElement('a');
                                    anchor.href = result["study_material"]["reading"];
                                    anchor.target = '_blank';
                                    document.body.appendChild(anchor);
                                    anchor.click();
                                    document.body.removeChild(anchor);
                                    // window.open(result["study_material"]["reading"], '_blank');
                                },
                            error: function(result) {
                                    console.log(result);
                                },
                            dataType: "json",
                            contentType: "application/json"
                        });
                });
            

            $("#copy_hint").click(function(e) {
                copy_hint();
                $('#copy_message').removeClass('hidden').fadeIn(200).delay(500).fadeOut(200, function() {
                    $(this).addClass('hidden');
                });
            });
            $("#next_hint").click(function(e) {
                    hint_counter = hint_counter + 1;
                    update_hint();
                });

            $("#previous_hint").click(function(e) {
                    hint_counter = hint_counter - 1;
                    update_hint();
                });


        });
</script>
{% endblock %}
